<% if logged_in? && (current_user == @post.creator) %>
  <p class="pull-right">
    [<%= link_to 'edit this post', edit_post_path(@post) %>]
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render "shared/content_title", title: @post.title %>
<div>
  <strong>Url:</strong> <%= @post.url %>
</div>
<div>
  <strong>Description:</strong> <%= @post.description %>
</div>

<hr>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= render "shared/error", obj: @comment %>
    <div class="content-group">
      <%= f.label :body, "Leave a comment" %>
      <%= f.text_area :body, rows: 3, class: "span4" %>
    </div>
    <%= f.submit "Create Comment", class: "btn btn-small btn-primary" %>
  <% end %>
<% end %>

<h5>Comments:</h5>
<% @post.reload.comments.sort_by{ |comment| comment.total_comment_votes }.reverse.each do |comment| %>
  <%= render "comments/comment", comment: comment %> 
<% end %>